* {
    box-sizing: border-box;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
/*    padding: 15px;*/
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
   	max-width: 600px;
   	margin: 0px auto;
}


/************** Colours ******************/

	/*Grey*/
body {
	background-color: #222222;
}
section, nav a:hover, #up a:hover {
	color: #222222;
}

	/*Red*/
a:hover {
	color: #DD2020;
}

	/*Green*/
#up, nav {
	background-color: #0F5757;
}
section a {
	color:  #0F5757
}

	/*White*/
#up a, nav li a {
	color: #EEEEEE;
}
section {
	background-color: #EEEEEE;
}

/************** End Colours ******************/



html {
	font-family:verdana;
	font-size: 16px;
}

body {
	max-width: 800px;
	margin: 0px auto;
}

a {
	text-decoration: none;
}

ul {
	margin: 0px;
	padding: 0px;
}

.row {
   	margin: 0px auto;
   	max-width: 600px;
/*	border: 1px solid #111;*/
}


#up {
	z-index: 0;
	position: fixed;
	text-align: center;
/*	display: none;*/
	
	width: 50px;
	height: 50px;
	top: 20px;
	right: 20px;
	border-radius: 50%;
	padding-top: 15px;
}

#up a {
	font-weight: bold;
/*	margin-top: 50%;*/
/*	text-align: center;*/
}

nav{
	position: relative;
/*	position: sticky;*/
/*	top: 0px;*/
	z-index: 1;
	padding: 0px;
	margin: 0px auto;
}

nav ul {
/*	width: 120px;*/
	padding: 16px 12px;
	list-style-type: none;
}

nav li {
	display: inline-block;
	padding-right: 10px;
	padding-bottom: 6px;
}

nav li a {
	font-weight: bold;
}

main {
	padding: 0px;
	margin: 0px;
}

main h2 {
	margin: 0px;
/*	padding-left:24px;*/
/*	text-align: end;*/
}

main p {
	text-align: justify;
	line-height: 1.4;
}

section img {
	max-width: 50%;
	padding: 1.25em;
}

.right  {
	float: right;
	padding-right: 0;
}

.left  {
	float:left;
	padding-left: 0;
}

img.large {
	max-width: 100%;
	padding: 0 0 0.4em;
}

.credits {
	font-size: smaller;
	font-style: italic;
	width: 100%;
/*	margin: 0;*/
}

section {
   	max-width: 600px;
/*	padding: 24px;*/
	padding: 1em 5%;
	margin-bottom: 0.6em;
}


section ul {
/*	display: inline;*/
	margin-top: -0.5em;
	margin-left: 1em;
	list-style-position: inside;
}

section li {
	padding: 0.2em 0;
}


.logo {
	max-width: 30%;
	margin: 1.4em 0.6em 0;
	bottom: 0;
	position: relative;
}

.logo img {
	width: 100%;
}

@media only screen and (min-width: 800px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
    nav li {
		display: list-item;
		text-align: right;
	}

	.row {
		margin: 20px auto;
	   	max-width: 100%;
	}
	
	#up {
		max-width: 200px;
		padding: 16px 22px;	
		text-align: right;
		width: 100%;
		height: 50px;
		top: auto;
		right: auto;
		border-radius: 0px;
		}

	section img {
		padding: 0 1.25em;
	}
		
	img.large {
		max-width: 50%;
		padding: 0.6em 1.25em 0.2em;
	}

	img.right  {
		float: right;
		padding-right: 0;
	}

	img.left  {
		float:left;
		padding-left: 0;
	}

	.credits{
/*		float: left;*/
		clear: both;
		width: 50%;
/*		margin: 0;*/
	}
}
/*.code {*/
/*	font-family: mono;*/
/*	background-color: #eee;*/
/*	border: 1px solid #111;*/
/*	border-radius: 10px;*/
/*}*/

/*.code li {*/
/*	padding:5px;*/
/*}*/

/*.choose {*/
/*	display: inline;*/
/*}*/
